<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>User list</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>name</th>
                <th>email</th>
                <th>更新・削除</th>
            </tr>
            <% users.forEach(function (element) { %>
                <tr>
                    <td>
                        <%= element.name %>
                    </td>
                    <td>
                        <%= element.email %>
                    </td>
                    <td>
                        <!-- // 更新ボタン -->
                        <button type="button">
                            <!-- <a href="/edit/" DBのIDをして下さい">更新</a> -->
                            <a href="/edit/<%= element.id %>">更新</a>
                        </button>
                        <!-- // 削除ボタン -->
                        <button type="button">
                            <a href="/delete/<%= element.id %>">削除</a>
                        </button>
                    </td>
                </tr>
                <% }); %>
        </table>
        <label>ID：<input type="text" id="nameText" onBlur="allCheck()"></label>
        <input type="button" value="Check" id="checkButton">
        <p id="msg"></p>
        <script type="text/javascript">

            let users = JSON.parse('<%= JSON.stringify(users) %>'.replace(/&#34;/g, '"'));

            console.log(users);

            function buttonClick() {
                let found = users.find(e => e.id === Number(nameText.value));
                // console.log(found);
                msg.innerText = `名前:${found.name}、email:${found.email}`;
            }

            // pタグ情報の取得
            let msg = document.getElementById('msg');

            // テキストボックスの情報取得
            let nameText = document.getElementById('nameText');

            // ボタンタグの情報取得
            let checkButton = document.getElementById('checkButton');


            // ボタンがクリックされた時に関数buttonClickが動く
            checkButton.addEventListener('click', buttonClick);
        </script>
    </body>
</html>
